<div class="main-content z-depth-0">

  <div class="row valign-wrapper">
    <div class="input-field col s2">
      <label for="heroName">Hero name</label>
      <input #heroName type="text" id="heroName"/>
    </div>
    <div class="input-field col s8">
      <label for="heroBio">Bio</label>
      <input #heroBio type="text" id="heroBio">
    </div>
    <div class="col s2 right">
      <a class="waves-effect waves-light btn" (click)="add(heroName.value, heroBio.value); heroName.value=''; heroBio.value=''">add</a>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <label for="idInput">id</label>
      <input type="text" id="idInput">
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="col s4">
      <a class="waves-effect waves-light btn">Get All</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn">Get by Id</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn">Delete</a>
    </div>
  </div>

</div>
